@import play.mvc.Http.Request
@(form: Form[UserProcess])(implicit request: Request, messages: play.i18n.Messages)


@main("Formulario"){
<form action="@routes.HomeController.createUser" method="post">
    @helper.CSRF.formField
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" name="email">
        <div class="form-text">Nunca compartiremos tu correo electrónico con nadie.</div>
    </div>
    <button type="submit" class="btn btn-dark">Ingresar</button>
</form>
}


