@()

@main("Formulario"){
  <p>para ingresar datos presionar este <a href="@routes.HomeController.listForm()">boton</a>.</p>




<div class="d-flex flex-row mb-3">
  <div class="p-2">
    <div class="card" style="width: 25rem;">
      <img src="@routes.Assets.versioned("images/toy.jpg")" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Juguete Telefono</h5>
        <p class="card-text">Se espera porder realizar este juguete con materiales de plastico corrosivo.</p>
        <a href="#" class="btn btn-primary">Ver Detalles</a>
      </div>
    </div>
  </div>
  <div class="p-2">
  <div class="card" style="width: 25rem;">
    <img src="@routes.Assets.versioned("images/spidy.jpg")" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Diseño Spiderman</h5>
      <p class="card-text">Este diseño se espera que sea realizado en buenos materiales y en arta cantidad.</p>
      <a href="#" class="btn btn-primary">Ver Detalles</a>
    </div>
  </div>
  </div>
  <div class="p-2">
  <div class="card" style="width: 25rem;">
    <img src="@routes.Assets.versioned("images/ddx.jpg")" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Leon guerrero - Figura en miniatura</h5>
      <p class="card-text">Se espera una alta definicion en los detalles del plastico.</p>
      <a href="#" class="btn btn-primary">Ver Detalles</a>
    </div>
  </div>
  </div>
</div>

}


