@()

@main("Formulario"){

<body class="fondo">
@navbar()





<div class="d-flex flex-row mb-3">
  <div class="p-2">
    <div class="card" style="width: 20rem;">
      <img src="@routes.Assets.versioned("images/toy.jpg")" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="color: white;" >Juguete Telefono</h5>
        <p class="card-text" style="color: white;" >Se espera poder realizar este juguete con materiales de plastico corrosivo.</p>
        <a href="@routes.RoutesController.phone()" class="btn btn-personal" id="button">Ver Detalles</a>
      </div>
    </div>
  </div>
  <div class="p-2">
  <div class="card" style="width: 20rem;">
    <img src="@routes.Assets.versioned("images/spidy.jpg")" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" style="color: white;" >Armadura de Iron Spider</h5>
      <p class="card-text" style="color: white;" >Este diseño se espera que sea realizado en buenos materiales y de alta calidad.</p>
      <a href="@routes.RoutesController.spidey()" class="btn btn-personal" id="button">Ver Detalles</a>
    </div>
  </div>
  </div>
  <div class="p-2">
  <div class="card" style="width: 20rem;">
    <img src="@routes.Assets.versioned("images/ddx.jpg")" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" style="color: white;" >Leon guerrero - Figura en miniatura</h5>
      <p class="card-text" style="color: white;" >Se espera una alta definicion en los detalles del plastico.</p>
      <a href="@routes.RoutesController.leon()" class="btn btn-personal" id="button">Ver Detalles</a>
    </div>
  </div>
  </div>
</div>
</body>

}


