@main("leon"){


<!DOCTYPE html>
<body class="fondo">
@navbar()


<head>
    <style>
            .container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 92vh; /* Ajusta la altura según tus necesidades */
            }
            .container2 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 3vh; /* Ajusta la altura según tus necesidades */
            }


    </style>
</head>

    <div>
        <div style="display: flex; align-items: flex-start;">
            <picture>
                <source srcset="@routes.Assets.versioned("images/ddx.jpg")" type="image/svg+xml">
                <img src="@routes.Assets.versioned("images/ddx.jpg")" class="img-fluid img-thumbnail" alt="...">
            </picture>
            <div class="container texto">
                <h3 class="title" style="margin-top: 0;">Leon guerrero - Figura en miniatura</h3>
                <p>¡Hola a todos los fabricantes chinos especializados en figuras en miniatura!<br><br>
                    En nombre de nuestra empresa <i> Dungeons Masters Chile S.A.</i>, nos complace anunciar que estamos en busca de un fabricante confiable y experimentado para la creación de una figura en miniatura de un león guerrero de alta calidad.<br><br>
                    Estamos interesados en recibir cotizaciones y ofertas de diversas empresas chinas especializadas en la fabricación de figuras en miniatura y productos relacionados. A continuación, detallamos los requisitos y características clave que buscamos para este emocionante proyecto:<br><br>
                    <b>Diseño y detalle auténticos:</b> Necesitamos una réplica realista de un león guerrero, capturando sus características distintivas y expresión feroz. El diseño y los detalles deben ser precisos y de alta calidad para lograr una apariencia impresionante.<br><br>
                    <b>Materiales duraderos:</b> Buscamos materiales de alta calidad que aseguren la durabilidad y resistencia de la figura en miniatura. Es importante que los materiales utilizados sean seguros y no representen riesgos para los usuarios.<br><br>
                    <b>Tamaño y escala adecuados:</b> La figura en miniatura del león guerrero debe tener un tamaño y una escala apropiados para capturar la esencia y la presencia del león guerrero en un formato más pequeño. La atención al detalle es fundamental.<br><br>
                    <b>Pintura y acabado de calidad:</b> Buscamos un acabado de pintura excepcional que resalte los detalles de la figura y le dé un aspecto realista. Los colores deben ser vibrantes y duraderos para garantizar la apariencia de alto nivel.<br><br>
                    <b>Embalaje y presentación:</b> La figura en miniatura debe ser entregada en un embalaje atractivo y seguro que la proteja durante el envío y muestre claramente la imagen y los detalles del león guerrero. El embalaje debe ser de alta calidad y atractivo para los coleccionistas.<br><br>
                    Si su empresa tiene experiencia en la fabricación de figuras en miniatura y puede cumplir con nuestros requisitos, nos encantaría recibir su cotización. Por favor, incluyan detalles sobre los servicios que ofrecen, como diseño, producción, materiales utilizados y plazos de entrega.<br><br>
                    Agradeceríamos que adjuntaran imágenes o ejemplos de trabajos anteriores relacionados con figuras en miniatura u otros productos similares para evaluar su calidad y capacidad.<br><br>
                    Esperamos con entusiasmo recibir sus cotizaciones y ofertas para este emocionante proyecto.<br><br>
                    ¡Gracias por su atención y esperamos una colaboración exitosa!</p>
                <div class="container2">

                    <body>
                    <button onclick="abrirPDF()">Mostrar Ficha</button>

                    <script>
                        function abrirPDF() {
                            window.open("@routes.Assets.versioned("archives/ficha_leon.pdf")", "_blank");
                        }
                    </script>
                    </body>

                    <button class="btn btn-personal" id="button">Enviar Oferta</button>
                </div>
            </div>
        </div>
    </div>
</body>



}

