<!DOCTYPE html>
<html lang="en">

<nav class="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="@routes.HomeController.index()" style="color: white;" >CDP: Cotizaciones de productos</a>
        <div class="d-flex justify-content-between align-items-center">
            <div style="margin-right: 10px;">
                <button class="btn btn-secondary" type="button" id="notificationDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
                        <path d="M8 16a1.5 1.5 0 0 0 1.5-1.5h-3A1.5 1.5 0 0 0 8 16zM2 11v-4c0-2.24 1.27-4.17 3.13-5.19C6.56 1.39 7.26 1 8 1s1.44.39 2.87 1.81C12.73 2.83 14 4.76 14 7v4l1 2h-2l-1-1H6l-1 1H2l1-2z"/>
                    </svg>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="notificationDropdown">
                    <!-- Contenido del desplegable -->
                    <li><a class="dropdown-item" href="#" style="color: red;" >Cotización #001 <b>Rechazada</b>. Razón: sin respuesta en 20 dias.</a></li>
                    <li><a class="dropdown-item" href="#" style="color: green;" >Cotización #002 <b>Aprobada</b>.</a></li>
                    <li><a class="dropdown-item" href="#" style="color: red;" >Cotización #003 <b>Rechazada</b>. Razón: Oferta muy baja.</a></li>
                </ul>
            </div>
            <div style="margin-left: 10px;">

                    <a class="btn btn-personal" href="@routes.RoutesController.mostrarFormOferta()" role="button" id="button">Enviar oferta</a>
                    <a class="btn btn-personal" href="@routes.LoginController.logout()" role="button" id="button">Salir</a>

            </div>
        </div>
    </div>
</nav>




<head>
</head>
<body>

</body>
</html>
