@import play.mvc.Http.Request
@(form: Form[OfertaProcess])(implicit request: Request, messages: play.i18n.Messages)

@main("Formulario de oferta"){
    <body>
        <div class="fondo">
            <div class="container">
                <div class="card">
                    <div class="p-4">
                        <a href="@routes.HomeController.index()" class="btn btn-personal" id="button">< Volver</a>

                        <h1>Formulario de oferta</h1>

                        <form action="@routes.RoutesController.enviarOferta()" method="POST" class="center-form">
                            @helper.CSRF.formField
                            <div class="mb-3">
                                <label for="campo_lectura">Seleccione ID de producto a ofertar</label>
                                <input type="text" class="form-control" id="campo_lectura" name="campo_lectura" value="3" readonly>
                                <input type="hidden" id="idEmpresaCHI" name="idEmpresaCHI" value="3">
                            </div>

                            <div class="mb-3">
                                <label for="detalle">Ingrese el detalle</label>
                                <input type="text" class="form-control" id="detalle" name="detalle">
                            </div>

                            <button type="submit" class="btn btn-personal" id="button">Enviar oferta</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
}